apiVersion: v1
kind: Service
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}
  labels:
    app: {{ application.name }}
    version: {{ lookup('env', 'DOCKER_VERSION') | default('unknown') }}
spec:
  sessionAffinity: ClientIP
  type: ClusterIP
  ports:
    - name: {{ application.port.tcp.name }}
      port: {{ application.port.tcp.number }}
      targetPort: {{ application.port.tcp.name }}
  selector:
    app: {{ application.name }}