spring:
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${CLIENT_ID}
            clientSecret: ${CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
  groovy:
    template:
      check-template-location: false

outbound:
  feign:
    auth_handler: http://localhost:{{ outbound.feign.auth_handler.port }}/google