spring:
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${CLIENT_ID}
            clientSecret: ${CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
  groovy:
    template:
      check-template-location: false

logbook:
  strategy: {{ logbook.strategy }}
  format:
    style: {{ logbook.format.style | default('http') }}
  logger:
    name: GOOGLE-AUTH-REST
  exclude: {{ logbook.exclude | join(', ') }}

outbound:
  feign:
    user_handler:
      host: {{ outbound.feign.user_handler.schema }}://{{ outbound.feign.user_handler.host }}:{{ outbound.feign.user_handler.port }}/google