spring:
  security:
    qrcheck:
      api-key:
        token:
          outgoing: ${DEFAULT_API_KEY_OUTGOING}
      auth-server:
        host: ${outbound.feign.auth-handler.host}
      oauth2:
        enabled: false
    oauth2:
      client:
        registration:
          google:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
            api:
              url: https://oauth2.googleapis.com
              token-info: /tokeninfo
              token-refresh: /token

  groovy:
    template:
      check-template-location: false

springdoc:
  api-docs:
    path: "/swagger-api"
    enabled: {{ springdoc.api_docs.enabled | default('false') | lower }}
  swagger-ui:
    path: "/"
  info:
    title: Google Auth RESTful API
    description: Сервис управления oAuth2 для Google
    version: {{ application.version }}
    licence-url: https://qrchk.ru/licence
    owner-name: QRCheck
    owner-url: https://qrchk.ru
    owner-email: it.support@softdarom.ru

logging:
  config: config/logback.xml

logbook:
  strategy: {{ logbook.strategy }}
  format:
    style: {{ logbook.format.style | default('http') }}
  logger:
    name: REST
  exclude: {{ logbook.exclude | join(', ') }}

outbound:
  feign:
    auth-handler:
      host: {{ outbound.feign.auth_handler | default('http://auth-handler:8000') }}