spring:
  security:
    api-key:
      token:
        outgoing: {{ spring.security.api_key.token }}
    oauth2:
      client:
        registration:
          google:
            client-id: ${CLIENT_ID}
            client-secret: ${CLIENT_SECRET}
            redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
            api:
              url: https://oauth2.googleapis.com
              token-info: /tokeninfo
              token-refresh: /token

  groovy:
    template:
      check-template-location: false

springdoc:
  api-docs:
    path: "/swagger-api"
    enabled: {{ springdoc.api_docs.enabled | default('false') | lower }}
  swagger-ui:
    path: "/"
  info:
    title: Google Auth RESTful API
    description: Сервис управления oAuth2 для Google
    version: V1
    licence-url: https://qrchk.ru/licence
    owner-name: QRCheck
    owner-url: https://qrchk.ru
    owner-email: it.support@softdarom.ru

logbook:
  strategy: {{ logbook.strategy }}
  format:
    style: {{ logbook.format.style | default('http') }}
  logger:
    name: GOOGLE-AUTH-REST
  exclude: {{ logbook.exclude | join(', ') }}

outbound:
  feign:
    auth-handler:
      host: {{ outbound.feign.auth_handler.schema }}://{{ outbound.feign.auth_handler.host }}:{{ outbound.feign.auth_handler.port }}