statusListener(NopStatusListener)

appender("CONSOLE", ConsoleAppender) {
    encoder(PatternLayoutEncoder) {
        pattern = "%d{ISO8601} [${System.getProperty("PID") ?: ''}] [%X{traceId}] [%X{spanId}] [%level{5}] --- [%logger{36}] : %m%n%ex"
    }
}

root(INFO, ["CONSOLE"])