kind: ConfigMap
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}
  labels:
    app: {{ application.name }}
    version: {{ application.version }}
data:
  bootstrap.yaml: |
    {{ lookup('template', '{{ playbook_dir }}/templates/application/bootstrap.yaml.j2') | indent }}
  application.yaml: |
    {{ lookup('template', '{{ playbook_dir }}/templates/application/application.yaml.j2') | indent }}
  logback.xml: |
    {{ lookup('template', '{{ playbook_dir }}/templates/application/logback.xml.j2') | indent }}
---

kind: ConfigMap
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}-{{ filebeat.name }}
  labels:
    app: {{ application.name }}
data:
  filebeat.yaml: |
    {{ lookup('template', '{{ playbook_dir }}/templates/filebeat/filebeat.yaml.j2') | indent }}