kind: Secret
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}
  labels:
    app: {{ application.name }}
    version: {{ lookup('env', 'DOCKER_VERSION') }}
type: Opaque
data:
  CLIENT_ID: {{ spring.security.oauth2.client.registration.google.client_id | b64encode }}
  CLIENT_SECRET: {{ spring.security.oauth2.client.registration.google.client_secret | b64encode }}
  DEFAULT_API_KEY_OUTGOING: {{ spring.security.api_key.token.outgoing | b64encode}}